{% extends "base.html" %}
{% block content %}
<div class="alert alert-success">
  {{message}}
</div>

<h1>{{course.title}}</h1>

<ul>
    <li><strong>Yliopisto:</strong> {{course.university}}</li>
    <li><strong>Kurssitunnus:</strong> {{course.id}}</li>
</ul>
<p><a href="{{base_path}}/course/{{course.id}}/edit" class="btn btn-default">Muokkaa</a><button class="btn btn-danger">Poista</button></p>

<h2>Kurssin {{course.title}} muistiinpanot:</h2>

<table class="table">
    <thead>
        <tr>
            <th>Aihe </th>
            <th>Lisätty </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="#">1. luento</a></td>
            <td>1.9.2016</td>
            <th><button class="btn btn-danger">Poista</button></th>
        </tr>
        <tr>
            <td><a href="#">2. luento</a></td>
            <td>8.9.2016</td>
            <th><button class="btn btn-danger">Poista</button></th>
        </tr>
    </tbody>
</table>
<p>
    <a href="#" class="btn btn-success">Lisää muistiinpano</a>
</p>
{% endblock %}