{% extends "course/show.html" %}
{% block notes %}

<table class="table">
    <thead>
        <tr>
            <th>Aihe </th>
            <th>Lisätty </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for note in notes %}
            <tr>
                <td><a href="{{note.address}}">{{note.subject}}</a></td>
                <td>{{note.modified}}</td>
                {% if user_logged_in %}
                  <td><a href="{{base_path}}/course/{{course.id}}/note/{{note.id}}/edit" class="btn btn-default">Muokkaa</a><td>
                  {{forms.destroy_button("#{base_path}/course/#{note.id}/destroy")}}
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}