{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Tervetuloa Muistiinpanopankkiin!</h1>
  </div>
  
  <p>Jos olet uusi käyttäjä, voit rekisteröityä palveluun, minkä jälkeen voit muodostaa henkilökohtaisia kurssilistoja sekä lisätä omia muistiinpanoja. Sitäkin ennen voit selata julkisesti jaettuja muistiinpanoja seuraamalla allaolevaa linkkiä. Jos taas olet jo rekisteröitynyt, kirjaudu takaisin sisään yläpalkista.</p>

  <p>
      <a href="#" class="btn btn-primary btn-lg">Rekisteröidy <span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
  
  <p>
    <a href="{{base_path}}/course" class="btn btn-primary btn-lg">Selaa kursseja <span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
  
{% endblock %}
