{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<div class="alert alert-info">
    {{message}}
</div>
    <h1>Käyttäjän {{user.student_name}} kurssit</h1>
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Yliopisto</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          {% for course in courses %}
            <tr>
                <td><a href="{{base_path}}/course/{{course.id}}">{{course.title}}</a></td>
                <td>{{course.university}}</td>
                <td><a class="btn btn-default btn-sm" href="{{base_path}}/course/{{course.id}}/edit">Muokkaa</a></td>
                <td>{{forms.destroy_button("#{base_path}/course/#{course.id}/leave", "Poistu kurssilta")}}</td>
                
            </tr>
          {% endfor %}
        </tbody>
    </table>
    
    <div><a href="{{base_path}}/user/{{user.id}}/edit" class="btn btn-default">Muokkaa omia tietoja</a></div>
{% endblock %}
