{% extends "base.html" %}
{% block content %}

    <h1>Kaikki käyttäjät</h1>
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Käyttäjätunnus</th>
                <th>Muistiinpanoja lisätty</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
                <td><a href="{{base_path}}/user/{{user.id}}">{{user.username}}</a></td>
                <td>12</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
